/**
 * Custom styles to immediately follow Tailwind’s `base` layer
 */

/**
 * Body Styles
 */

[x-cloak] {
	display: none !important;
}

html {
	scroll-behavior: smooth;
}

body {
	@apply bg-background font-sans text-foreground;
}

body.logged-in.admin-bar .navbar-reveal.affix {
	top: 0px;
}

@media (min-width: 600px) {
	body.logged-in.admin-bar .navbar-reveal.affix,
	body.logged-in.admin-bar .offcanvas-menu.menu-open {
		top: 46px !important;
	}

	body.logged-in.admin-bar .offcanvas-menu.menu-open {
		height: calc(100dvh - 46px);
	}
}

@media (min-width: 783px) {
	body.logged-in.admin-bar .navbar-reveal.affix,
	body.logged-in.admin-bar .offcanvas-menu.menu-open {
		top: 32px !important;
	}

	body.logged-in.admin-bar .offcanvas-menu.menu-open {
		height: calc(100dvh - 32px);
	}
}

/**
 * Main Content Styles
 */

.main-content p,
.main-content ul,
.main-content ol {
	margin-bottom: 1rem;
}

.main-content p {
	@apply 2xl:text-lg;
}

.main-content p a {
	color: var(--color-primary);
}

/**
 * WP Block Image
 */

.wp-block-image.aligncenter {
	width: 100%;
}

.wp-block-image.aligncenter img {
	margin-left: auto;
	margin-right: auto;
}

/**
 * Content Card
 */

.content-card > div > *:not(.wp-block-image),
.content-card > .card-icon {
	@apply 2xl:px-6;
}

/**
 * Typography - theme.json
 */

.has-heading-1-font-size,
.h1 {
	@apply text-5xl/14 lg:text-6xl/18 xl:text-7xl/22;
}

.has-heading-2-font-size,
.h2 {
	@apply text-4xl/10 lg:text-5xl/14 xl:text-6xl/18;
}

.has-heading-3-font-size,
.h3 {
	@apply text-3xl/10 lg:text-4xl/10 xl:text-5xl/14;
}

.has-heading-4-font-size,
.h4 {
	@apply text-2xl/2 lg:text-3xl/6 xl:text-4xl/10;
}

.has-heading-5-font-size,
.h5 {
	@apply text-xl lg:text-2xl xl:text-3xl;
}

.has-heading-6-font-size,
.h6 {
	@apply text-lg lg:text-xl xl:text-2xl;
}

.has-heading-hero-font-size {
	@apply text-4xl/12 md:text-5xl/14 lg:text-6xl/18 xl:text-7xl/22;
}

p.has-slight-reduce-font-size {
	@apply text-[.925rem] 2xl:text-base;
}

p.has-reduce-font-size {
	@apply text-[.875rem];
}

/**
 * registerBlockStyle - block-editor.js
 */

.is-style-rounded-tl img {
	@apply rounded-tl-[1rem] md:rounded-tl-[2rem] lg:rounded-tl-[3rem];
}

.is-style-rounded-tr img {
	@apply rounded-tr-[1rem] md:rounded-tr-[2rem] lg:rounded-tr-[3rem];
}

.is-style-subtle-shadow {
	text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
}

/**
 * Gravity Forms
 */

.gform_wrapper.gravity-theme .gform_footer {
	padding-bottom: 0;
}

.gform_wrapper.gravity-theme input[type="text"],
.gform_wrapper.gravity-theme input[type="email"],
.gform_wrapper.gravity-theme input[type="tel"],
.gform_wrapper.gravity-theme textarea,
.gform_wrapper.gravity-theme select {
	@apply border border-secondary rounded-md md:rounded-lg lg:rounded-xl resize-none;
}

.gform_wrapper.gravity-theme.detail-contact-form_wrapper select {
	padding: 0.6125rem;
	appearance: none;
	-webkit-appearance: none;
}

.gform_required_legend {
	display: none;
}

.gform_wrapper.gravity-theme.detail-contact-form_wrapper .gfield_required,
.footer .gform_wrapper.gravity-theme .gfield_required {
	color: var(--color-primary);
}

.detail-contact-form_wrapper {
	@apply relative bg-white p-4 md:p-8 lg:p-12 border-2 border-foreground rounded-[1rem] md:rounded-[2rem] lg:rounded-[3rem] !rounded-br-none;
}

/**
 * Home Page Hero
 */

.hero-home ul li,
.hero-home a span {
	text-shadow: -1px -1px 3px rgba(0, 0, 0, 0.75);
}

.hero-home h1,
.hero-home h2,
.hero-home h3,
.hero-home h4,
.hero-home h5,
.hero-home h6 {
	text-shadow: 3px 3px 15px rgba(0, 0, 0, 0.75);
}

.video-wrapper {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	/* important */
	container-type: size;
	overflow: hidden;
}

.video-wrapper > iframe {
	position: absolute;
	/* keep video centered both vertically and horizontally */
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: 100%;
	height: 100%;

	/* force aspect ratio based on parent container */
	@container (min-aspect-ratio: 16/9) {
		height: 56.25cqw; /* 100*9/16 */
	}

	@container (max-aspect-ratio: 16/9) {
		width: 177.78cqh; /* 100*16/9 */
	}

	/* prevent interaction */
	pointer-events: none;
}

/**
 * ACF Block styles
 */

.is-style-gradient-overlay {
	position: relative;
}

.bg-filter::before,
.is-style-gradient-overlay::after,
.is-style-gradient-overlay-rev::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0);
	content: "";
	z-index: 1;
}

.is-style-gradient-overlay::after {
	@apply bg-linear-to-b from-primary to-50% to-transparent;
}

.is-style-gradient-overlay-rev::after {
	@apply bg-linear-to-t from-primary to-90% to-transparent;
}

/**
 * Footer
 */

.footer {
	background-image: url("/wp-content/uploads/2025/04/marble-fixed-768x913.jpg");
}

@media (min-width: 768px) {
	.footer {
		background-image: url("/wp-content/uploads/2025/04/marble-fixed.jpg");
	}
}

.footer::before {
	background-color: rgba(255, 255, 255, 0.65);
}

@media (min-width: 768px) {
	.privacy-policy,
	.page-id-458 {
		background-image: url("/wp-content/uploads/2025/04/marble-fixed.jpg");
	}
}
.privacy-policy,
.page-id-458 {
	@apply bg-cover bg-no-repeat bg-center md:bg-fixed bg-local;
	background-image: url("/wp-content/uploads/2025/04/marble-fixed.jpg");
}

.privacy-policy .footer,
.page-id-458 .footer {
	background-image: none;
}

/**
 * Spotlight Effect
 */

.spotlight ul {
	transform: translateX(-60%);
}

.spotlight-mask {
	--circle: radial-gradient(
		circle at var(--x, 70%) var(--y, 50%),
		rgba(0, 0, 0, 1) 0px,
		rgba(0, 0, 0, 0) 200px
	);
	--mask: var(--circle);
	-webkit-mask-image: var(--mask);
	mask-image: var(--mask);
}

#circle {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	background: black;
	border: 2px solid #fff;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
	top: 50%;
	left: 50%;
	position: absolute;
	z-index: 3;
}

.noselect {
	cursor: default;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */
}

.noselect:hover {
	cursor: default;
}

/**
 * Additional/Misc.
 */
.image-panel .has-heading-2-font-size {
	line-height: 1.35;
}

.image-panel::before {
	background-color: rgba(0, 0, 0, 0.33);
}

.location-lists ul,
.service-lists ul {
	margin-bottom: 0;
}

.hidden-scroller {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.text-sm p {
	@apply text-sm;
}

.testimonial-text p {
	@apply text-lg lg:text-xl xl:text-2xl 2xl:text-3xl italic xl:leading-10;
}
